<?xml version="1.0" ?>
<model>
    <name>IARC SIMULATOR</name>
    <version>1.0</version>
    <sdf version="1.6">ground.sdf</sdf>
    <author>
        <name>IFOR</name>
        <email>https://github.com/TEAMIFOR/ifor_offb2</email>
    </author>
    <description>IARC ARENA SIMULATION </description>
</model>
